# ignore compiles platforms
platforms

# any other binaries 
*.com
*.class
*.dll
*.exe
*.o
*.so

# compressed stuff
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# logs and databases
*.log
*.sql
*.sqlite

# osx stuff
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# node stuff
npm-debug.log
node_modules

